src
coverage
stats.html
tsconfig.json
tslint.json
.DS_Store
.envrc
.idea
.vscode
.github
/.settings
/.commitlintrc.json
/.editorconfig
/.huskyrc
/.lintstagedrc
/.prettierignore
/.prettierrc
/.snyk
/jest.config.js
/.travis.yml
/*.ts
*.code-*
*.lock
*.log
